<h1 class="shifted">Sign in</h1>
<% if not flash.now[:error].nil? %>
<div class="alert alert-error">
	<strong>Error!</strong> <%= flash.now[:error] %>
</div>
<% end %>
<% if not flash.now[:notice].nil? %>
<div class="alert">
	<strong>Warning!</strong> <%= flash.now[:notice] %>
</div>
<% end %>
<%= form_for(:session, :url => sessions_path, :html => {:class => "form-horizontal"}) do |f| %>
<div class="control-group">
	<%= f.label :email, :class => "control-label"  %>
	<div class="controls">
		<%= f.text_field :email, :placeholder => "Email" %>
	</div>
</div>
<div class="control-group">
	<%= f.label :password, :class => "control-label" %>
	<div class="controls">
		<%= f.password_field :password, :placeholder => "Password" %>
	</div>
</div>
<div class	="control-group">
	<div class="controls">
		<%= f.submit "Sign in", :class => "btn btn-primary" %>
		<%= f.submit "Sign up", :class => "btn" %>
	</div>
</div>
<% end %>