<h1 class="text-info">Sign up</h1>
<%= form_for(@user, :html => {:class => "form-horizontal"}) do |f| %>
<div class="control-group <%= error_class(:name) %>">
	<%= f.label :name, :class => "control-label" %>
	<div class="controls">
		<%= f.text_field :name, :placeholder => "Name" %>
		<span class="help-inline"><%= get_error(:name) %></span>
	</div>
</div>
<div class="control-group <%= error_class(:email) %>">
	<%= f.label :email, :class => "control-label"  %>
	<div class="controls">
		<%= f.text_field :email, :placeholder => "Email" %>
		<span class="help-inline"><%= get_error(:email) %></span>
	</div>
</div>
<div class="control-group <%= error_class(:password) %>">
	<%= f.label :password, :class => "control-label" %>
	<div class="controls">
		<%= f.password_field :password, :placeholder => "Password" %>
		<span class="help-inline"><%= get_error(:password) %></span>
	</div>
</div>
<div class="control-group">
	<%= f.label :password_confirmation, "Confirmation", :class => "control-label" %>
	<div class="controls">
		<%= f.password_field :password_confirmation, :placeholder => "Confirm password" %>
	</div>
</div>
<div classx	="control-group">
	<div class="controls">
		<%= f.submit "Sign up", :class => "btn btn-primary" %>
	</div>
</div>
<% end %>