<div class="well">
  <%= form_for(:books, :url => '/books', :html => {:class => 'form-search'}) do |f| %>
      <%= f.text_field :query, :class => 'input-large search-query', :placeholder => 'Search...', :autofocus => 'autofocus' %>
      <%= f.submit 'Search', :class => 'btn btn-primary' %>
  <% end %>
  <% unless @list.nil? %>
      <table class="table sortable">
        <thead>
        <tr>
          <th>Image</th>
          <th>Title</th>
          <th>Authors</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <% @list['items'].each do |item| %>
            <tr>
              <td><%= book_cover item %></td>
              <td><%= book_title item %></td>
              <td>
                <ul>
                  <% (book_authors item).each do |author| %>
                      <li><%= author %></li>
                  <% end %>
                </ul>
              </td>
              <td>No actions</td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% end %>
</div>