<div class="hero-unit">
  <h1><%= t('pages.home.welcome') %></h1>
  <ul>
    <li><%= t('pages.home.add_to_list') %></li>
    <li><%= t('pages.home.share_with_friends') %></li>
    <li><%= t('pages.home.find_it_out') %></li>
    <li><%= t('pages.home.easy_to_use') %></li>
    <li><%= t('pages.home.totally_free') %></li>
  </ul>
  <div class="btn-group">
    <%= link_to t('system.sign_in'), signin_path, :class => 'btn btn-primary btn-large' %>
    <%= link_to t('system.sign_up'), signup_path, :class => 'btn btn-primary btn-large' %>
  </div>
</div>