<header>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<%= link_to "Manager of e-books", home_path, :class=>"brand" %>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class=<%= header_active["Home"].to_s %>><%= link_to "Home", home_path %></li>
						<li class=<%= header_active["About"].to_s %>><%= link_to "About", about_path %></li>
						<li class=<%= header_active["Contact"].to_s %>><%= link_to "Contact", contact_path %></li>
						<li class="active"><%= header_addon %></li>
					</ul>
				</div>
				<form class="navbar-search pull-right">
					<input type="text" class="search-query" placeholder="Search">
				</form>
			</div>
		</div>
	</div>
</header>