<header>
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href=<%= home_path %> class="brand">
					<%= get_icon(:book) %> Manager of e-books
				</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class=<%= header_active["Home"].to_s %>><%= link_to "Home", home_path %></li>
						<li class=<%= header_active["About"].to_s %>><%= link_to "About", about_path %></li>
						<li class=<%= header_active["Contact"].to_s %>><%= link_to "Contact", contact_path %></li>
						
						<% if signed_in? and current_user.get_role == "admin" %>
						<li class=<%= header_active["Users"].to_s %>><%= link_to "Users", users_path %></li>
						<% end %>
					</ul>
					<ul class="nav pull-right">
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">
								<% if signed_in? %>
								<%= current_user.name %> 
								<% else %>
								Account
								<% end %>
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="padding: 5px">
								<% if signed_in? %>
								<li class="text-left">
									<!-- <%= gravatar_image_tag current_user.email, :class => "img-circle small-sized" %> -->
									<a href=<%= user_path(current_user) %>>
										<%= get_icon(:user) %> Profile
									</a>
								</li>
								<li class="text-left">
									<a href=<%= edit_user_path(current_user) %>>
										<%= get_icon(:settings) %> Settings
									</a>
								</li>
								<li class="text-left">
									<a href=<%= signout_path %>>
										<%= get_icon(:access) %> Sign out
									</a>
								</li>
								<% else %>
								<li class="text-left">
									<a href=<%= signin_path %>>
										<%= get_icon(:access) %> Sign in
									</a>
								</li>
								<li class="text-left">
									<a href=<%= signup_path %>>
										<%= get_icon(:user_add) %> Sign up
									</a>
								</li>
								<% end %>					
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>