<!DOCTYPE html>
<html>
<head>
	<title><%= title  %></title>
	<%= favicon_link_tag %>
	<%= stylesheet_link_tag 'bootstrap.min', :media => 'screen' %>
	<%= stylesheet_link_tag 'custom', :media => 'screen' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
	<!-- I've loaded in <%= Time.now - @start_time %> seconds -->
</head>
<body>
	<%= render 'layouts/navbar' %>
	<%= render 'layouts/warnings' %>
	<div id="page">
		<%= yield %>
	</div>
</body>
</html>
